$color-primary: tomato;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: 'Open Sans', sans-serif;
$header-font: 'Lobster', cursive;

body {
  background-color: blue;
}
h1 {
  color: $color-pale;
}
h2,
h3 {
  color: $color-primary;
}
